body {
    margin: 0px;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
:after,
:before {
    box-sizing: inherit;
}

.page-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 100vw;
    max-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 220px;
    background: white;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.chart {
    width: 980px !important;
    height: 500px !important;
}
